html,body{display:block;min-height:100%;}
body{background-color:#000;margin:0;padding:0;font-family:"微软雅黑";}
header{height:55px;background-color:rgba(57, 57, 57,.5);border-width:0 0 1px;border-image: radial-gradient(rgba(255,255,255,0),rgba(57, 57, 57,1)) 40% repeat; position:relative;z-index:1;}
.header-inner{width:960px;margin:0 auto;position:relative;background:url(../images/logo-bg.gif) 0 50% no-repeat;}
.header-inner-right{position:absolute;top:0;right:0;height:55px;display:block;line-height:54px;word-spacing:1.5rem;}
.header-inner-right-link{color:#fff;text-decoration:none;}
.logo{display:inline-block;width:310px;height:55px;text-indent:320px;overflow:hidden;background:url(../images/logo.gif) 0 50% no-repeat;white-space:nowrap;vertical-align:bottom;
}
.router-selector{width:866px;margin:20px auto;height:60px;height:20px;color:#fff;font-size:12px;position:relative;z-index:1;}
.router-name{color:#fff;text-decoration:none;}
.icon-down{font-size:20px;height:16px;overflow:hidden;display:inline-block;vertical-align:middle;font-family:"宋体";}
.main{width:100%;height:100%;position:absolute;top:0;left:0;z-index:0;overflow:hidden;}
.main-slider{overflow:hidden;height:100%;position:relative;}
.main-1{background:url(../images/svg/main1.svg) #000 no-repeat;}
.main-3{background:url(../images/svg/main3.svg) #000 no-repeat;}
.main-1,.main-2,.main-3{height:100%;float:left;}
.slider-ctrs{position:absolute;top:50%;left:0;font-size:48px;z-index:2;width:100%;/*pointer-events:none;*/}
.slider-ctrs-left,.slider-ctrs-right{color:#fff;text-decoration:none;font-family:"宋体","文泉驿等宽正黑";margin:0 15px;}
.slider-ctrs-right{position:absolute;right:0;}
.disabled{opacity:0;filter:alpha(opacity=0)\9;cursor:default;}