html,body{display:block;min-height:100%;}
body{background-color:#000;margin:0;padding:0;font-family:"微软雅黑";overflow:hidden;}
header{height:55px;background-color:rgba(0, 0, 0,.5);border-width:0 0 1px;border-image: radial-gradient(rgba(255,255,255,0),rgba(57, 57, 57,1)) 40% repeat; position:relative;z-index:2;}
a{text-decoration:none;}
a:focus{outline:none;}
ul,ol,li,dl,dt,dd{margin:0;padding:0;list-style:none;}
.c-white{color:#fff;}
.unvisible{visibility:hidden;}
.header-inner{width:960px;margin:0 auto;position:relative;background:url(../images/logo-bg.gif) 0 50% no-repeat;}
.header-inner-right{position:absolute;top:0;right:0;height:55px;display:block;line-height:54px;word-spacing:1.5rem;}
.logo{display:inline-block;width:310px;height:55px;text-indent:320px;overflow:hidden;background: /*#090*/url(../images/logo.png) 0 50% no-repeat;white-space:nowrap;vertical-align:bottom;}
.icon-wifi,.icon-enhance,.icon-panel{background-image:url(../images/spr.png);background-repeat:no-repeat;vertical-align:middle;display:inline-block;width:38px;height:36px;}
.icon-wifi{background-position:0 -38px;}
.icon-enhance{background-position:-40px -38px;}
.icon-panel{background-position:-80px -38px;}
.icon-wifi-on{background-position:0 0;}
.icon-enhance-on{background-position:-40px 0;}
.icon-panel-on{background-position:-80px 0;}
.router-selector{width:868px;margin:20px auto 0;height:60px;height:40px;color:#fff;font-size:12px;position:relative;z-index:2;}
.router-name{color:#fff;text-decoration:none;display:inline-block;height:40px;}
.router-options{position:absolute;top:25px;background:#446E8A;min-width:120px;border-radius:3px;visibility:hidden;}
.router-option{display:block;padding:6px 12px;color:#fff;}
.router-option:first-child{border-radius:5px 5px 0 0;}
.router-option:last-child{border-radius:0 0 5px 5px;}
.router-option:hover{background:#2B4E66;}
.router-name:hover .router-options{visibility:visible;}
.icon-down{font-size:16px;height:8px;overflow:hidden;display:inline-block;vertical-align:middle;font-family:"宋体";line-height:1;}
.main{width:100%;height:100%;position:absolute;top:0;left:0;z-index:0;overflow:hidden;z-index:1;}
.main-slider{height:100%;position:relative;/*overflow-x:hidden;overflow-y:visible;*/overflow:hidden;}

.main-bg{position:absolute;top:0;left:0;z-index:0;width:100%;height:100%;background-color:#000;background-repeat:no-repeat;}
.main-bg-1{background-image:url(../images/svg/main1.svg);}
.main-bg-3{background-image:url(../images/svg/main3.svg);}
.main-1,.main-2,.main-3{height:100%;float:left;overflow:hidden;vertical-align:top;}
.main-2{position:relative;min-height:812px;}
.autoheight{overflow-y:visible;}
.main-head-space{height:106px;}
.main-foot-space{height:56px;clear:both;}
.main-2 .main-head-space{height:970px;}
.slider-ctrs-left,.slider-ctrs-right{color:#fff;text-decoration:none;font-family:"宋体","文泉驿等宽正黑";margin:0 15px;position:absolute;top:50%;font-size:48px;z-index:2;}
.slider-ctrs-right{position:absolute;right:0;}
.slider-ctrs-label{font-size:18px;position:absolute;top:0;white-space:nowrap;line-height:54px;display:none;}
.slider-ctrs-right .slider-ctrs-label{right:40px;}
.slider-ctrs-left .slider-ctrs-label{left:40px;}
.slider-ctrs-left:hover .slider-ctrs-label,.slider-ctrs-right:hover .slider-ctrs-label{display:block;}

.advance-title{font-size:14px;height:58px;line-height:58px;border-bottom:1px solid #DBDBDB;text-indent:25px;margin:0;display:none;}
.advance-nav{width:149px;border-right:1px solid #DBDBDB;background:#EDEDED;position:absolute;top:59px;bottom:0;display:none;}
.advance-nav a{display:block;height:40px;line-height:40px;text-indent:25px;font-size:14px;color:#3E3E3E;margin:4px;}
.advance-nav a:hover{color:#1AA7FF;}
.advance-nav a.cur,.advance-nav a.cur:hover{background:#E1E1E1;color:#3E3E3E;cursor:default;}
.advance-mode .advance-nav,.advance-mode .advance-title{display:block;}
.advance-mode .router_frame2{margin-left:150px;}
.disabled{opacity:0;filter:alpha(opacity=0)\9;cursor:default;}
.none{display:none;}