input:focus::-webkit-input-placeholder,input:focus::-moz-placeholder{opacity:0;}
.form{margin:25px auto 0;padding:0 0 150px;text-align:center;font-size:12px;}
.form-table{display:inline-block;margin:0 auto;text-align:left;}
.form-table-header{margin-left:10px;}
.form-item{position:relative;margin:10px 0 10px 120px;position:relative;min-height:42px;clear:both;}
.form-label{position:absolute;left:-110px;top:0;display:block;width:110px;line-height:42px;text-align:left;white-space:nowrap;margin-top:4px;}
.form-text{width:172px;height:40px;border:1px solid #CDCDCD;padding:0 13px;display:block;margin:4px 0;}
.form-text:focus{outline:none;border-color:#1AA7FF;}
.form-check{display:inline-block;width:65px;height:30px;background:url(../images/checkbox.gif)0 -31px no-repeat;margin:6px 0;}
.form-check-checked{background-position:0 0;}
.form-check input{-webkit-appearance:none;width:100%;height:100%;display:block;margin:0;opacity:0;filter:alpha(opacity=0)\9;}
.form-check input:focus{outline:none;}
.form-text-short{width:50px;float:left;margin-right:10px;}
.form-text-middle{width:78px;float:left;}
.form-button {background:#3498db;background-image:-webkit-linear-gradient(top, #3498db, #2980b9);background-image:-moz-linear-gradient(top, #3498db, #2980b9);background-image:-ms-linear-gradient(top, #3498db, #2980b9);background-image:-o-linear-gradient(top, #3498db, #2980b9);background-image:linear-gradient(to bottom, #3498db, #2980b9);-webkit-border-radius:3;-moz-border-radius:3;border-radius:3px;font-family:Arial;color:#ffffff;font-size:14px;padding:10px 20px 10px 20px;border:solid #0e77b8 1px;text-decoration:none;}
.form-button:hover {background:#3cb0fd;background-image:-webkit-linear-gradient(top, #3cb0fd, #3498db);background-image:-moz-linear-gradient(top, #3cb0fd, #3498db);background-image:-ms-linear-gradient(top, #3cb0fd, #3498db);background-image:-o-linear-gradient(top, #3cb0fd, #3498db);background-image:linear-gradient(to bottom, #3cb0fd, #3498db);text-decoration:none;}
.form-select{width:83px;display:inline-block;margin:4px 0 4px 0;position:relative;}
.form-select-input{border:1px solid #CDCDCD;width:100%;height:40px;padding:0 13px;position:relative;z-index:2;}
.form-select-input:focus{outline:none;border-color:#1AA7FF;}
.form-select-opts{position:absolute;z-index:3;background:#fff;border:1px solid #CDCDCD;border-top:0;left:0;right:-28px;display:none;max-height:150px;overflow-y:auto;}
.form-select-opts a{display:block;height:30px;line-height:30px;padding:0 13px;cursor:default;color:#333;}
.form-select-opts a.active{background:#EDEDED;}
.form-select-angle{display:block;position:absolute;top:18px;right:-15px;border:6px dashed transparent;border-top-color:#333;z-index:2;}
.form-word{margin-top:4px;display:inline-block;line-height:42px;}
.form-wifi .form-item{margin-left:140px;}
.form-wifi .form-label{left:-140px;width:140px;}
.form .mt20{margin-top:20px;}

.focus .form-select-opts{display:block;}
.disabled .form-select-input{border-color:#eee;color:#eee;}
.disabled .form-select-angle{border-top-color:#ccc;}
.table01 {border-collapse:collapse;margin:0;}
.table01 td,.table01 th{padding:8px;border:1px solid #e6e6e6;}
.table01 th{background-color:#EDEDED;}
.table01 td{background-color:#fff;}
.table01 td.lable{background:#ebecf0;font-weight:bold;}
.table02 {border-collapse:collapse;width:100%;padding:1px;border:2px solid #1e90ff;}
.table02 td{border:1px solid #1e90ff;}
.table02 th{border:1px solid #1e90ff;}
.table02 td.lable{background:#ebecf0;font-weight:bold;border-top:2px solid #bfbfc5;}