html,body{margin:0;padding:0;overflow:hidden;font-family:"微软雅黑";background:#000;color:#676767;display:block;height:100%;}
button::-moz-focus-inner,input::-moz-focus-inner,a::-moz-focus-inner{border:0;}
a{text-decoration:none;}
a:focus{outline:none;}
ul,ol,li,dl,dt,dd{margin:0;padding:0;list-style:none;}
input,label{vertical-align:middle;}
.right{text-align:right;}
.align{text-align:center;}
.white{color:#fff;}
.login-form{height:100%;min-height:600px;}
.login-wrapper{width:100%;height:450px;position:absolute;left:0;top:50%;margin-top:-250px;}
.login-logo{width:333px;height:229px;text-indent:350px;background:url(../images/login.logo.gif) center top no-repeat;margin:0 auto;padding:0;font-size:1px;overflow:hidden;white-space:nowrap;}
.form-elems{width:250px;margin:0 auto;}
.form-item{width:250px;height:45px;position:relative;margin:10px 0;}
.form-placeholder{height:45px;line-height:45px;background:#fff;display:block;line-height:45px;text-indent:10px;color:#7b7b7b;}
.form-text{position:absolute;top:0;left:0;background:none;border:1px solid #CDCDCD;height:43px;vertical-align:bottom;width:228px;padding:0 10px;}
.form-text:focus{
	outline:none;
	border-color:#1AA7FF;
}
.form-button {
	background-color:#1AA7FF;
	-webkit-border-radius:23px;
	-moz-border-radius:23px;
	border-radius:23px;
	font-family:Arial;
	color:#ffffff;
	font-size:14px;
	border:none;
	text-decoration:none;
	height:46px;
	line-height:46px;
	padding:0 50px;
	cursor:pointer;
	
}
.form-button:hover {
	background-color:#3cb0fd;
	text-decoration:none;
	
}
.form-button:focus{
	outline:none;
	background:#64C1FF;
	
}
.form-focus .form-placeholder{color:#fff;}
.footer{margin-top:-50px;line-height:50px;word-spacing:15px;text-align:center;font-size:12px;}