.dnl_ico{display:inline-block;background:url('../images/download_ico.png ') no-repeat;}
.router_arrow i,.sl_ico,.down_arrow,.error_ico,.dc_ico{background:url('../images/spr.png ') no-repeat;}
.download_nav_list{margin:0;padding:0;list-style:none;}
.download_nav_list li{height:50px;}
.download_nav_list li a{position:relative; padding:0 0 0 63px;color:#fff;font-family:\5FAE\8F6F\96C5\9ED1;font-size:16px;display:block; height:50px;line-height: 50px }
.download_nav_list .cur a,.download_nav_list li a:hover{background:#288BCC;text-decoration:none; }
.download_nav_list .dnl_ico{position:absolute;left:36px;top:18px; }
.download_nav_list .dnl_mydl{width:16px;height:14px; }
.download_nav_list .dnl_done{width:16px;height:12px;top:20px;background-position: -25px 0 }
a:hover .dnl_done,.cur .dnl_done{background-position: -25px -24px }
.download_nav_list .dnl_dustbin{width:16px;height:18px;top:16px;background-position: -52px 0 }
a:hover .dnl_dustbin,.cur .dnl_dustbin{background-position: -52px -24px }
.download_nav_list .dnl_lx{width:16px;height:11px;top:20px;background-position: -78px -1px }
a:hover .dnl_lx,.cur .dnl_lx{background-position: -78px -25px }
.download_nav_list .dnl_movie{width:16px;height:16px;top:18px;background-position: -106px -1px }
a:hover .dnl_movie,.cur .dnl_movie{background-position: -106px -25px }
.download_nav_list .dnl_search{width:16px;height:16px;top:18px;background-position: -135px -1px }
a:hover .dnl_search,.cur .dnl_search{background-position: -135px -25px }
.download_nav_list .dnl_desk{width:16px;height:11px;top:20px;background-position: -163px 0 }
a:hover .dnl_desk,.cur .dnl_desk{background-position: -163px -24px }

.download_control_box{border-bottom:1px solid #C8C8C8;position:relative;height:56px; }
.dc_list{padding:17px 0 0 24px ;list-style:none;margin:0;}
.dc_list li{float:left;padding:0 45px 0 0; }
.dc_ico{width:23px;height:23px;display:inline-block;background-position: 0 -102px;}
.cur .dc_ico,.dc_ico:hover{background-position:0 -135px}
.di_del{background-position:-33px -102px}
.cur .di_del,.di_del:hover{background-position:-33px -135px}
.di_play{width:16px;background-position:-65px -102px}
.cur .di_play,.di_play:hover{background-position:-65px -135px}
.di_stop{width:20px;background-position:-89px -102px}
.cur .di_stop,.di_stop:hover{background-position:-89px -135px}
.di_sort{width:27px;height:26px; background-position:-114px -102px}
.cur .di_sort,.di_sort:hover{background-position:-114px -135px}

.di_set{position:absolute;right:20px;top:13px;width:29px;height:29px; background-position:-149px -101px}
.cur .di_set,.di_set:hover{background-position:-149px -134px}

.db_list{padding:0 0 20px 0;}
.db_list li{position:relative;padding:0 0 0 90px;height:90px;color:#787878;font-family:\5FAE\8F6F\96C5\9ED1;font-size:14px; border-bottom:1px solid #C8C8C8;}
.db_list .type_ico{position:absolute;top:24px;left:25px;}
.db_list dt{font-size:18px;color:#272727;padding:13px 0 0;width: 390px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.db_list .clock{padding:0 0 0 20px;}
.db_list .db_c{position:absolute; right:19px;top:32px;font-size:16px;}
.db_list .db_c a{color:#25A6F3;padding:0 0 0 40px;}