@charset "utf-8";/******************************************5358u new**************************************************************/
body {font:12px "Î¢ÈíÑÅºÚ";margin:0px auto;overflow:hidden;visibility:hidden;}
.mainbiao{border-bottom:1px solid #ccc;color:#333;font-size:18px;font-weight:bold;margin:0;padding:10px 0;}
.mainbiao1{padding:5px;margin-bottom:10px;background:#adcce7;}
.table01 {border-collapse:collapse;margin:10px 0 0;}
.table01 td,.table01 th{padding:8px;}
.table01 td{border:1px solid #e6e6e6;}
.table01 td.lable{background:#ebecf0;font-weight:bold;}
.table02 {border-collapse:collapse;width:100%;padding:1px;border:2px solid #1e90ff;}
.table02 td{border:1px solid #1e90ff;}
.table02 th{border:1px solid #1e90ff;}
.table02 td.lable{background:#ebecf0;font-weight:bold;border-top:2px solid #bfbfc5;}
.downloader_lable{background:#ebecf0;font-weight:bold;border-top:2px solid #bfbfc5;padding-left:1%;}
.div_left{padding-left:1%;font-size:12px;}
td {font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif;font-size:12px;}
.subhead {-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:white none repeat scroll 0 0;color:#2262aa;;font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif;font-size:12px;font-weight:bold;border:1px solid #E6E6E6;}
.config3 {border:0px solid #F1F1F1;margin:0 10px;}
.lable{background:#ebecf0;font-weight:bold;border-top:2px solid #bfbfc5;}
.div_button {margin:10px 0px;padding:10px 0;text-align:center;border-top:1px dashed #adcce7;}
.div_button1 {margin:2px 0px;padding:5px 0;text-align:center;}
.button01{background:url(line02.gif) repeat-x;border:1px #768289 solid;text-align:center;padding:0 1px 0 1px;margin:1px;cursor:pointer;color:#fff;height:22px;line-height:20px;border:0;}
textarea{width:100%;height:200px;font-family:monospace;font-size:11px;background-color:#ffffff;}
.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  border: solid #0e77b8 1px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.bottom{clear:both;height:0;font-size:1px;border-bottom:1px solid #f00;background:#090;}