html{display:block;height:100%;overflow:hidden;}
body{margin:0;padding:0;display:block;height:100%;overflow:hidden;}
a{text-decoration:none;}
::-webkit-input-placeholder{text-align:center;}
.rotating{-webkit-animation:rotating 5s infinite;-webkit-animation-timing-function:linear;}

.next{display:none;position:absolute;left:0;bottom:0;text-align:center;width:100%;text-decoration:none;color:#EF6B00;}
.next::after{content:'';display:block;height:22px;width:22px;background:url(../images/arrow.png) 0 0  no-repeat;background-size:22px auto;margin:10px auto;}

.pages{overflow:hidden;height:100%;}
.page{display:block;height:100%;text-align:center;position:relative;overflow:hidden;}
.page1{background:#3C3C3C;}
.header{background:#fff;}
.header-bar{max-width:1000px;height:90px;position:relative;z-index:1;margin:0 auto;background:url(../images/logo.png) 0 50% no-repeat;overflow:hidden;}
.logo{position:absolute;top:0;width:232px;height:90px;display:block;color:#fff;}
.navigation{position:absolute;height:48px;top:21px;right:0;list-style:none;margin:0;}
.navigation-item{width:106px;float:left;margin:0;padding:0;text-align:center;}
.navigation-link,.navigation-link:visited{color:#000;display:block;border-radius:24px;font:22px/48px arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;-webkit-font-smoothing: antialiased;}
.navigation-link:hover,.navigation-active{color:#FB082B;}
.navigation-active{background:#E5E5E5;background:url(http://red.xunlei.com/img/indexv2/spr.png) -300px 0 no-repeat\9;}
.container{position:absolute;top:90px;bottom:0;left:0;right:0;background:url(../images/p1.bg.jpg) repeat-x;background-size:auto 100%;}
.container-wrap{margin:0 auto;height:100%;position:relative;max-width:1000px;}
.container .h1,.container .h2{display:block;color:transparent;margin:0;padding:0;background:url(../images/p1.txt.png) no-repeat;font-size:0;position:absolute;}
.container .h1{height:76px;top:197px;left:0;opacity:0;width:404px;-webkit-transition:all 0.5s linear 0s;}
.container .h2{height:20px;top:290px;left:138px;width:225px;opacity:0;background-position:-80px -94px;-webkit-transition:all 0.5s linear 0.5s;}
.container .miner{display:block;width:669px;height:641px;background:url(../images/p1.miner.png) no-repeat;position:absolute;top:192px;left:435px;opacity:0;-webkit-transition:all 0.8s linear 1.5s;}
.container .prebuy{width:230px;height:70px;display:block;color:#fff;background:#FF3700;border-radius:35px;position:absolute;top:422px;left:100px;-webkit-font-smoothing: antialiased;box-shadow:0 0 0 #FF3700;-webkit-transition:all 0.2s ease-in 0s;font:29px/70px arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;}
.prebuy:hover{box-shadow:0 0 10px #FF3700;background:#f50;}
.page2{background:url(../images/p2.miner.png) 50% 10% no-repeat;background-size:auto 100%;opacity:0;-webkit-transition:all 1s linear 0s;}
.page2 .txt{position:absolute;bottom:25px;height:77px;background:url(../images/p2.txt.png) 50% 0 no-repeat;width:100%;left:0;color:transparent;opacity:0;-webkit-transition:all 0.8s linear 1s;font-size:0;}

.page3 .pic{width:827px;height:353px;position:absolute;top:50%;left:50%;margin:-177px 0 0 -414px;background:url(../images/p3.pic.png) no-repeat;
    opacity:0;-webkit-transform:scale(0.1,0.1);-webkit-transition:all 0.8s linear 0.3s;}
.page3 .pic li{display:none;}

.page4{background:#F3F3F3;}
.wrap{position:absolute;top:0;left:50%;max-width:1000px;margin-left:-500px;height:100%;background:#f00;}
.iphone{position:absolute;left:55px;bottom:-20px;width:569px;height:389px;background:url(../images/iphone.jpg) no-repeat;opacity:0;-webkit-transition:all 0.2s linear 0.8s;}
.iphone2{position:absolute;width:675px;height:457px;background:url(../images/iphone2.png) no-repeat;left:-69px;top:55px;opacity:0;-webkit-transition:all 0.3s linear 1s;}
.iphone3{position:absolute;width:675px;height:546px;background:url(../images/iphone3.png) no-repeat;left:-2px;top:0;opacity:0;-webkit-transition:all 0.5s linear 1.3s;}
.iphone4{position:absolute;width:675px;height:597px;background:url(../images/iphone4.png) no-repeat;left:2px;top:0;opacity:0;-webkit-transition:all 0.8s linear 1.8s;}

.step{background:url(../images/step.png) no-repeat;height:75px;color:transparent;margin:96px auto 0;max-width:1000px;opacity:0;-webkit-transition:all 0.8s linear 0s;font-size:0;}
.step2{background-position:0 -75px;}
.step3{background-position:0 -150px;}
.step4{background-position:0 -225px;}

.table{border-collapse:collapse;text-align:left;background:#fff;color:#333333;border-color:#E9E9E9;border:1px solid #F3F3F3;margin-top:79px;opacity:0;-webkit-transition:all 0.8s linear 0.3s;}
.table-header{background:url(../images/table.header.png) no-repeat #E1E1E1;color:transparent;}
.life{list-style:none;display:inline-block;margin:0 auto;padding:0;color:#666;opacity:0;width:276px;height:540px;overflow:hidden;-webkit-transition:all 0.8s linear 1s;}
.life-item{padding:475px 0 0;float:left;margin:0 34px;width:276px;height:540px;text-align:left;background:url(../images/life.png) no-repeat;font:14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;-webkit-font-smoothing: antialiased;}
.life-item1{}
.life-item2{background-position:-276px 0;}
.life-item3{background-position:-552px 0;}

.ft{background:#EBEBEB;height:152px;width:100%;color:#C1C0C7;line-height:1;text-align:center;overflow:hidden;margin-top:30px;font-size:12px;}
.ft-p{margin-top:45px;}
.ft-p a,.ft-p a:visited{color:#949494;}
.ft-p a:hover{text-decoration:underline;}

.active .h1{opacity:1;left:28px;}
.active .h2{opacity:1;left:108px;}
.active .miner{opacity:1;top:172px;}
.active .txt{opacity:1;bottom:45px;}
.active.page2{opacity:1;background-position:50% 15.56%;background-size:auto 62%;}
.active .step{opacity:1;margin-left:auto;}
.active .pic{opacity:1;-webkit-transform:scale(1,1);}
.active .table{opacity:1;margin-top:99px;}
.active .life{opacity:1;width:1032px;}
/*left:-69px;top:55px;*/

.active .iphone{opacity:1;bottom:0;}
.active .iphone2{opacity:1;left:68px;top:-72px;}
.active .iphone3{opacity:1;left:118px;top:-79px;}
.active .iphone4{opacity:1;left:92px;top:-60px;}

.none{display:none;}

@-webkit-keyframes rotating
{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes next
{
	0%{top:0;}
	50%{top:-10px;}
	100%{top:0;}
}

@media only screen and (max-height: 899px){
    .step{margin-top:30px;}
    .active .table{margin-top:30px;}
}
@media only screen and (max-width: 999px){
    .wrap{margin-left:0;left:0;}
}
@media only screen and (min-width: 640px){
}
@media only screen and (min-width: 800px){
}
@media only screen and (min-width: 1000px){
}
