@charset "utf-8";
html{}
body{text-align:left;font:12px/1.5 Helvetica,Tahoma,Arial,\534E\6587\7EC6\9ED1,\5FAE\8F6F\96C5\9ED1,sans-serif;color:#707070;margin:0;padding:0;}
a{text-decoration:none !important;color:#464545;outline:none;}
a,li,input,button{-webkit-tap-highlight-color:transparent}
.hide{text-indent:-999em;}
.orange,.orange:visited{color:#FFBC1C;}
input,::after,::before,a,section,li,div{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-drag:none;}

.page a:hover{ opacity: 0.6; filter: alpha(opacity=60);}

.page { position: relative; margin-bottom: 4rem;}
.header{border-bottom:1px solid #38ACAF;line-height:40px;font-size:1rem;box-shadow:0 1px 3px rgba(0,0,0,.2);color:#fff;text-align:center;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3CBEC1), color-stop(100%,#4CBEC1));background: linear-gradient(to bottom, #3CBEC1 0%,#4CBEC1 100%);}
.topbar{height:48px;line-height:48px;background:url(../images/h5-logo.png) 10px 50% no-repeat;background-size:29px auto;position:relative;border-bottom:1px solid #D8D8D8;font-size:16px;}
.topbar-txt{margin-left:50px;margin-right:6.5em;display:block;}
.titlebar{margin:10px;padding:0;}
.titlebar-title{font-size:1rem;color:#333;font-weight:normal;line-height:1.25;margin:0 0 5px;padding:0;}
.titlebar-from{font-size:0.8em;color:#A6A6A6;}

.content{position:relative;}
.content::before{content:'';position:absolute;z-index:2;top:0;right:0;bottom:0;left:0;background:transparent;}
.content-img{vertical-align:bottom;width:100%;}
.content-txt{margin:10px;line-height:1.5;font-size:1.25rem;color:#333;}
.content-from{margin:10px;font-size:1rem;}
.content-from-topic{margin-right:1.2rem;}

.content-deleted{padding-top:70px;background:url(../images/icon-deleted.png) 50% 0 no-repeat;background-size:60px auto;text-align:center;margin:60px 0;font-size:1rem;color:#A6A6A6;}

.content-option{position:absolute;z-index:1;background:url(../images/icon.png) no-repeat;background-size:17px auto;}
.content-option-s1{width:12px;height:12px;}
.content-option-s2{width:17px;height:17px;background-position:0 -40px;}
.content-option-s3{width:17px;height:17px;background-position:0 -80px;}
.content-option-label{position:absolute;font-size:14px;line-height:30px;
padding:0 15px;background:rgba(0,0,0,0.8);color:#fff;white-space:nowrap;display:block;}
.content-option-label::before{left:30px;border-radius:0 5px 5px 0;padding-right:15px;}
.content-option-label::before{right:30px;border-radius:5px 0 0 5px;padding-left:15px;}
.content-option-1 .content-option-label{border-radius:15px 0 15px 0;left:20px;}
.content-option-2 .content-option-label{border-radius:0 15px 0 15px;right:20px;}
.content-option-s1 .content-option-label{bottom: 10px;}
.content-option-s2 .content-option-label{bottom: 17px;}
.content-option-s3 .content-option-label{bottom: 17px;}
.content-result-box{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.8);overflow:hidden;z-index:3;display:table-cell;vertical-align:middle;}
.content-result{margin:0 15%;width:70%;padding:0;vertical-align:middle;display:inline-block;}
.content-result-item{
	margin:3rem 0;list-style:none;padding:0;height:4px;background:rgba(255,255,255,0.5);position:relative;line-height:1;
}
.content-result-item-percent{height:4px;background:#33CCCC;}
.content-result-item-label{position:absolute;top:10px;font-size:1rem;color:#fff;}
.say { display: block; color: #CCCCCC; height: 8rem; line-height: 8rem; text-align: center;}
.comment { padding: .2rem 1rem;}
.comment li { position: relative; margin: 1.2rem 0;}
.comment li .c-div {margin-left: 3.5rem;margin-right:30px;}
.comment li .c-text{ color: #656565;overflow: hidden; font-size: .9rem; text-overflow: ellipsis;}
.comment li .c-text2{ color: #989898; font-size: .7rem; margin-top: .4rem;}
.comment .c-img { position: absolute; width: 2.2rem; height: 2.2rem; }
.comment-support{ position: absolute; width:21px;height:18px;display:block;top:.5rem; right:0rem;background:url(../images/h5-love.gif) no-repeat;background-size:21px auto;}
.transparentBg { position:fixed; width:100%; height:4.3rem;line-height:4.3rem;font-size:1.3rem; color:#fff;text-align:center; bottom:0; background-color: #4E4E4E; opacity: 0.8;}
.bottom { position:fixed; width:100%; height:4.3rem;line-height:4.3rem;font-size:1.3rem; color:#fff;text-align:center; bottom:0;}
.bottom .b-img { width: 2.5rem; height: 2.5rem; top: 1rem; position: absolute; left: 1rem;}
.bottom .b-text { width: 11rem;top: 1.7rem;position: absolute; left: 4rem;}
.b-download { display: inline-block; border-radius:3px; background-color: #4CBEC1; line-height:28px; padding:0 0.7em; color: #fff; position: absolute; right: 10px; top: 10px;text-indent:0;}
.bottom-bg{background:rgba(78, 78, 78,0.8);}

.share-footer{height:50px;line-height:50px;background:#222;color:#fff;position:fixed;width:100%;left:0;bottom:0;font-size:0.9em;}
.share-footer::before{content:'';display:block;position:absolute;left:0.5em;top:-20%;width:4em;height:4em;background:url(../images/logo.png) no-repeat #4EBCC1;background-size:100% auto;background-position:0 7px;border-radius:50%;border:3px solid #fff;}
.share-footer-txt{margin-left:5.5em;margin-right:7em;display:block;}
.share-footer-btn,.share-footer-btn:visited{line-height:30px;display:block;position:absolute;top:10px;right:0.5em;background:#4EBCC1;border-radius:5px;padding:0 0.8em;color:#fff;text-indent:0;text-decoration:none;}

.none,.unvisible{display:none;}

@media only screen and (max-width: 240px){
	.content-result-item{margin:2rem 0;}
	.topbar-txt{line-height:1;font-size:0.7em;padding-top:10px;margin-right:6.5rem;}
	.share-footer-txt{line-height:1.2;margin-top:10px;}
}