@charset "utf-8";
html,body{margin:0;padding:0;font-size: 14px; }
html{background-color:#f2f2f2;}
body{background-color:#fff;overflow: hidden;}
a{text-decoration: none;}
.blue,.blue:visited{color: #00c2c4;}
.gray,.gray:visited{color: #cdcecd;}
.messages{margin:0 20px;padding: 10px 0;}
.message{margin:0;padding: 15px 0;border-bottom:1px solid #F3F3F3; }
.message:last-child{border-bottom: none;}
.message-title{font-size: 1.25rem;font-weight: bold;margin:0;padding: 0;color: #131313;}
.message-content{font-size: 1rem;color: #999;line-height: 1.25;margin:10px 0;padding: 0;}
.message-info{position: relative;margin: 0;padding: 0;}
.message-info-right{position: absolute;top:0;right: 0;}
