@charset "utf-8";
html,body{margin:0;padding:0;font-size: 14px;display: block;min-height: 100%;}
html{
background-image: -ms-linear-gradient(top bottom, #f86768 0%, #e23f86 100%);
background-image: -moz-linear-gradient(top bottom, #f86768 0%, #e23f86 100%);
background-image: -o-linear-gradient(top bottom, #f86768 0%, #e23f86 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f86768), color-stop(1, #e23f86));
background-image: -webkit-linear-gradient(top bottom, #f86768 0%, #e23f86 100%);
background-image: linear-gradient(to bottom left, #f86768 0%, #e23f86 100%);
height:100%\9;
}
body{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f86768',endColorstr='#e23f86')\9;}
.main{width: 620px;margin:158px auto;min-height: 645px;position: relative;text-align: left;}
.main-left{width: 194px;overflow: hidden;}
.main-box{width: 307px;height: 645px;background: url(../images/mobile.png) no-repeat;position: absolute;top: 0;right: 0}
.main-box-img{width: 262px;height: 461px;position: absolute;top: 92px;left: 23px;background: #fff;}
.logo{color: transparent;
	pointer-events:none;
	height:189px;
	background: url(../images/logo.pc.png) 50% 0 no-repeat;
	margin: 80px 0 50px;
	text-indent:-999px;
}
.btn-ios,.btn-android{
	display:block;
	margin:0 auto;
	width:193px;
	height: 64px;
	background: url(../images/download.pc.png) no-repeat;
}
.btn-android{
	background-position: 0 -84px;
	margin-top: 20px;
	margin-bottom: 100px;
}
.qrcode-mini{height:36px;width:36px;background:url(../images/qrcode.mini.png) no-repeat;display:block;margin:0 auto 40px;opacity: 0.6;position: relative;}
.qrcode-mini:hover{opacity: 1;}
.qrcode-mini .qrcode{display:none;position: absolute;top: 50%;width: 82px;height: 82px;background: url(../images/qrcode.png) no-repeat;left:50%;margin-left: -41px;margin-top: -41px;}
.qrcode-mini-show .qrcode{display:block;}