html{background:#4CBEC1;}
body{margin:0;padding:0;display:block;height:100%;}
::-webkit-input-placeholder{text-align:center;}
.rotating{-webkit-animation:rotating 5s infinite;-webkit-animation-timing-function:linear;}
.btn-music{position: absolute;top: 20px;right: 20px;width: 22px;height: 22px;background: url(../images/music.png) no-repeat;background-size: 22px auto;}
.next{display:block;position:absolute;left:0;bottom:0;text-align:center;width:100%;text-decoration:none;color:#EF6B00;}
.next::after{content:'';display:block;height:22px;width:22px;background:url(../images/next.png) 0 0  no-repeat;background-size:22px auto;margin:10px auto;}

.pages{position:absolute;top:0;bottom:0;right:0;left:0;overflow:hidden;}
.page{display:block;height:100%;text-align:center;position:relative;overflow:hidden;}
.page-title{display:none;}
.page1{background-color:#FF4978;}
.page1 .logo{text-align:center;margin:14.682539682539683% 20.625% 0;position:relative;}
.page1 .logo::before{
    content: '';
    position: absolute;
    background: rgba(0,0,0,0.1);
    display: block;
    left: 97.5%;
    top: 0;
    width: 300%;
    height: 148%;
    -webkit-transform-origin: top left;
    -webkit-transform: matrix(0.85,0.9,-0.69,0.65,0,0);
}
.page1 .logo-img{border-radius:10px;width:100%;position:relative;}
.page1 .logo-text{top:85.89458689458689%;left:5.093833780160858%;right:5.093833780160858%;position:absolute;height:0;overflow:hidden;}
.page1 .logo-text-img{margin-top:-114.1054131054131%;}
.page1 .logo-text{height:300px;}
.page2{background-color:#FF4F46;}
.page3{background-color:#FFA546;}
.page4{background-color:#2FC0FB;}
.page5{background-color:#00FFDA;}
.page6{background-color:#D000FA;}
.page7{background-color:#FF006F;}
.active .logo-text-img{-webkit-transition:all 0.5s linear 0.5s;margin-top:0;}

.page-slide{
    background-image: url(../images/page.top.png);
    background-repeat:no-repeat;
    background-position:50% 9.52%;
    background-size: 100% auto;
}
.wallpaper{
    height:100%;width:100%;background:url(../images/wallpaper.png) 50% 0 no-repeat;
    background-size:92.34% auto;
    display:inline-block;
    margin-top:17%;
    vertical-align:bottom;
    overflow:hidden;
}
.wallpaper .pic{margin-top:12.03%;position:relative;overflow:hidden;}
.talk{position:absolute;width:78.125%;height:12.5%;background:url(../images/talk.png) no-repeat;background-size:100% auto;}
.wallpaper .pic-des{height:23.07%;background:url(../images/page.text.png) 50% 0 no-repeat;background-size:100% auto;}
.wallpaper img{width:77.5%;margin:0 auto;}

.talk1,.talk3,.talk7{left:11.56%;}

.talk1{left:-100%;top:68.75%;}
.talk2{right:-100%;top:84.88%;background-position:100% 14.4%;}
.active .talk1{left:11.56%;-webkit-transition:all 0.5s linear 1s;}
.active .talk2{right:11.56%;-webkit-transition:all 0.5s linear 1.5s;}

.talk3{left:-100%;top:3.83%;background-position:0 28.5%;}
.talk4{right:-100%;top:19.76%;background-position:100% 43%;}
.active .talk3{left:11.56%;-webkit-transition:all 0.5s linear 1s;}
.active .talk4{right:11.56%;-webkit-transition:all 0.5s linear 1.5s;}

.talk5{right:-100%;top:60.08064516129032%;background-position:0 57.2%;}
.talk6{left:-100%;top:73.79032258064516%;background-position:100% 71.45%;}
.active .talk5{right:14.0625%;-webkit-transition:all 0.5s linear 1s;}
.active .talk6{left:17.8125%;-webkit-transition:all 0.5s linear 1.5s;}

.talk7{left:-100%;top:67.94354838709677%;background-position:0 86%;}
.talk8{right:-100%;top:82.86290322580645%;background-position:100% 100%;}
.active .talk7{left:11.56%;-webkit-transition:all 0.5s linear 1s;}
.active .talk8{right:11.56%;-webkit-transition:all 0.5s linear 1.5s;}

.page2 .wallpaper{margin-left:100%;}
.page3 .wallpaper{margin-left:-200%;}
.page4 .wallpaper{margin-left:100%;}
.page5 .wallpaper{margin-left:-200%;}
.page6 .wallpaper{margin-left:100%;}
.page3 .pic-des{background-position:0 25%;}
.page4 .pic-des{background-position:0 50%;}
.page5 .pic-des{background-position:0 75%;}
.page6 .pic-des{background-position:0 100%;}

.page7{background:url(../images/page7.logo.png) 50% 5.65% no-repeat #FF1C74;background-size:15% auto;}
.page7 .container{margin:20.14% 0 0;height:48.81%;background:url(../images/page7.bg.png) 50% 0 no-repeat;background-size:auto 100%;opacity:0;}
.page7 .container .pic{background:url(../images/page7.text.png) 50% 700% no-repeat;background-size:auto 85.77%;height:100%;color:transparent;}
.page7 .form{margin:5.56% 0 0;}
.page7 .form-text{color:#ffb22b;line-height:1.5;font-size:16px;}
.page7 .form-inputer{line-height:26px;padding:5px 10px;border:0;background:#fff;border-radius:5px;}
.page7 .form-btn{-webkit-appearance:none;line-height:26px;padding:5px 15px;border:0;background:#ffb22b;border-radius:5px;color:#fff;}
.page7 .form-inputer:focus{outline:none;box-shadow:0 0 10px rgba(0,0,0,1);}
.page7 .result{bottom:-170px;height:160px;background:#fff;position:absolute;width:100%;}
.page7 .result::before{content:'';display:block;width:0;height:0;position:absolute;top:0;left:50%;border:6px dashed transparent;border-top:6px solid #FF006F;}
.page7 .result-text{color:#FF006F;line-height:1.5;margin:10px 0;}
.btn-share,.btn-download{display:inline-block;padding:8px 25px;margin:0 5px;border-radius:5px;text-decoration:none;}
.btn-share{color:#FF006F;border:1px solid #FF006F;}
.btn-download{background-color:#FF006F;color:#fff;}
.page7 .show{bottom:-10px;-webkit-transition:all 0.5s linear 0s;}

.active.page-slide .wallpaper{-webkit-transition:all 0.5s linear 0.2s;opacity: 1;-webkit-transform:rotate(0deg);margin-left:0;}
.active.page7 .container{-webkit-transition:all 0.5s linear;opacity: 1;}
.active.page7 .pic{-webkit-transition:all 2s linear 0.5s;background-position: 50% 50%;}
.active.page-slide::before{-webkit-transition:all 1s linear 1s;background-position: 50% 50%;opacity: 1;width: 575px;}
.active .next::after{position:relative;-webkit-animation:next 0.8s infinite;-webkit-animation-timing-function:linear;}
.none{display:none;}

@-webkit-keyframes rotating
{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes next
{
	0%{top:0;}
	50%{top:-10px;}
	100%{top:0;}
}

@media only screen and (max-width: 320px){
}
@media only screen and (max-width: 240px){

}
@media only screen and (min-width: 640px){
}
@media only screen and (min-width: 800px){
}
@media only screen and (min-width: 1000px){
}
