html{background:#4CBEC1;}
body{margin:0;padding:0;display:block;height:100%;}
.rotating{-webkit-animation:rotating 5s infinite;-webkit-animation-timing-function:linear;}
.btn-music{position: absolute;top: 20px;right: 20px;width: 22px;height: 22px;background: url(../images/music.png) no-repeat;background-size: 22px auto;}
.next{display:block;position:absolute;left:0;bottom:0;text-align:center;width:100%;text-decoration:none;color:#EF6B00;}
.next::after{content:'';display:block;height:22px;width:22px;background:url(../images/next.png) 0 0  no-repeat;background-size:22px auto;margin:10px auto;}
.wallpaper{width: 275px;height: 370px;margin: 0 auto;background: #fff;box-shadow: 0 0 0 rgba(0,0,0,0.5);position: relative;z-index: 1;overflow: hidden;opacity: 0;-webkit-transform:rotate(-45deg);-webkit-transform-origin:bottom left;}
.wallpaper .pic{height: 248px;background: url(../images/page2.pic.jpg) 50% 0 no-repeat;background-size: auto 248px;position: relative;}
.wallpaper .pic-des{height: 94px;background: url(../images/page2.text.png) 30% 50% no-repeat;background-size: auto 10px;color: transparent;opacity: 0;}
.talk{position: absolute;height: 32px;}
.talk-head,.talk-text{background: url(../images/talk.png) no-repeat;background-size: 208px auto;display:inline-block;}
.talk-head{width: 30px;height: 32px;}

.talk-text{height:28px;overflow: hidden;color: transparent;position: absolute;opacity: 1;}
.talk-1{top: 20px;left: 40px;text-align: left;opacity: 0;}
.talk-1 .talk-text{background-position: -32px 0;width: 137px;margin-left: 10px;opacity: 0;}
.talk-2{top: 52px;right: 40px;text-align: right;opacity: 0;}
.talk-2 .talk-head{background-position: 100% -32px;right: 0;}
.talk-2 .talk-text{background-position: -35px -35px;width: 136px;right: 35px;margin-right: 10px;opacity: 0;}

.active .talk-1{top:20px;opacity:1;transition:all 1s linear 2s;}
.active .talk-2{top:52px;opacity:1;transition:all 1s linear 3s;}
.active .talk-1 .talk-text{margin-left: 0;opacity: 1;transition:all 0.3s linear 4s;}
.active .talk-2 .talk-text{margin-right: 0;opacity: 1;transition:all 0.3s linear 5s;}

.talk-3{bottom: 60px;left: 40px;text-align: left;opacity: 0;}
.talk-3 .talk-head{background-position: 0 -68px;}
.talk-3 .talk-text{background-position: -32px -69px;width: 136px;margin-left: 15px;opacity: 0;}

.talk-4{bottom: 20px;right: 40px;text-align: right;opacity: 0;}
.talk-4 .talk-head{background-position: 100% -101px;}
.talk-4 .talk-text{background-position: -35px -103px;width: 137px;right: 34px;margin-right: 10px;opacity: 0;}

.active .talk-3{bottom: 50px;opacity: 1;transition:all 0.5s linear 2s;}
.active .talk-4{bottom: 10px;opacity: 1;transition:all 0.5s linear 3s;}
.active .talk-3 .talk-text{margin-left: 5px;opacity: 1;transition:all 0.3s linear 4s;}
.active .talk-4 .talk-text{margin-right: 0;opacity: 1;transition:all 0.3s linear 5s;}

.talk-5{bottom: 75px;right: 40px;opacity: 0;}
.talk-5 .talk-head{background-position: 100% -140px;}
.talk-5 .talk-text{background-position: -26px -142px;right:32px;width: 145px;margin-right: 15px;opacity: 0;}
.talk-6{bottom: 35px;left: 40px;opacity: 0;}
.talk-6 .talk-head{background-position: 0 -175px;}
.talk-6 .talk-text{background-position: -32px -176px;width: 137px;margin-left: 15px;opacity: 0;}

.active .talk-5{bottom: 55px;opacity: 1;transition:all 0.5s linear 2s;}
.active .talk-6{bottom: 15px;opacity: 1;transition:all 0.5s linear 3s;}
.active .talk-5 .talk-text{margin-right: 5px;opacity: 1;transition:all 0.3s linear 4s;}
.active .talk-6 .talk-text{margin-left: 5px;opacity: 1;transition:all 0.3s linear 5s;}

.talk-7{bottom: 90px;right: 40px;opacity: 0;}
.talk-7 .talk-head{background-position: 100% -206px;}
.talk-7 .talk-text{background-position: -105px -208px;right: 32px;width: 70px;margin-right: 15px;opacity: 0;}

.talk-8{bottom: 55px;left: 40px;opacity: 0;}
.talk-8 .talk-head{background-position: 0 -235px;}
.talk-8 .talk-text{background-position: -32px -235px;width: 65px;margin-left: 15px;opacity: 0;}

.talk-9{bottom: 20px;right: 40px;opacity: 0;}
.talk-9 .talk-head{background-position: 100% -264px;}
.talk-9 .talk-text{background-position: -91px -266px;right: 32px;width: 81px;margin-right: 5px;opacity: 0;}

.active .talk-7{bottom: 80px;opacity: 1;transition:all 0.5s linear 2s;}
.active .talk-8{bottom: 45px;opacity: 1;transition:all 0.5s linear 3s;}
.active .talk-9{bottom: 10px;opacity: 1;transition:all 0.5s linear 4s;}

.active .talk-7 .talk-text{margin-right: 5px;opacity: 1;transition:all 0.3s linear 5s;}
.active .talk-8 .talk-text{margin-left: 5px;opacity: 1;transition:all 0.3s linear 6s;}
.active .talk-9 .talk-text{margin-right: 5px;opacity: 1;transition:all 0.3s linear 7s;}

.nail{height: 28px;background: url(../images/nail.png) 50% 7px no-repeat;display: block;background-size: 9px auto;}
.pages{position:absolute;top:0;bottom:0;right:0;left:0;overflow:hidden;}
.page{display:block;height:100%;text-align:center;position:relative;overflow:hidden;}
.page-title{margin: 28px auto 23px;padding:0;height: 23px;background: url(../images/page.title.png) 50% 0 no-repeat;background-size: auto 23px;}
.page1{background: #FF4978;}

.page1::before{content:'';display: block;width: 100%;height: 100%;background:url(../images/page1.border.png) center center no-repeat;opacity: 0;background-size:83px auto;}
.page1::after{content: '';display: block;width: 100%;height: 1px;position: absolute;top: 0;left: 0;background: url(../images/page1.text.png) center center no-repeat;background-size: auto 255px;}

.page2{background-color: #FCDD5F;}
.page3{background-color: #FFC053;}
.page3 .pic{background-image: url(../images/page3.pic.jpg);}
.page3 .pic-des{background-image: url(../images/page3.text.png);background-size: auto 29px;}

.page4{background-color: #FF8F53;}
.page4 .pic{background-image: url(../images/page4.pic.jpg);}
.page4 .pic-des{background-image: url(../images/page4.text.png);background-size: auto 29px;}

.page5{background-color: #FF6A44;}
.page5 .pic{background-image: url(../images/page5.pic.jpg);}
.page5 .pic-des{background-image: url(../images/page5.text.png);background-size: auto 29px;}

.page6{background-color: #FF2444;}
.page6 .pic{background-image: url(../images/page6.pic.jpg);}
.page6 .pic-des{background-image: url(../images/page6.text.png);background-size: auto 29px;}

.page7{background-color: #FF4978;}
.page7 .wallpaper{background: url(../images/page7.bg.png) center right no-repeat #FF4978;height:auto;background-size: auto 246px;-webkit-transform:rotate(0deg);opacity: 0;color: transparent;;}
.page7 .pic{background: url(../images/page7.text.png) center 120% no-repeat;background-size: 137px auto;height: 328px;}
.page7 .btn{line-height: 45px;width:250px;text-align:center;display:block;background: #fff;
    box-shadow: 5px 5px 0 rgba(0,0,0,0.11);border-radius: 5px;color: #FF4978;text-decoration: none;margin-bottom: 15px;}
.page7 .des{color: #FF8DB3;}
.page7 .highlight{color: #fff;text-decoration: none;}
.page-slide::before{content: '';display: block;
width: 0;height: 433px;background: rgba(0,0,0,0.11);position: absolute;top:74px;left:50%;margin-left: -137.5px;
-webkit-transform-origin:top left;opacity: 0;
-webkit-transform:matrix(0.8588051256938407,0.5123024068672586,-0.6353024068672586,0.8588051256938407,275,0);
}

.active.page1::before{opacity: 1;transition:opacity 3s linear 2s;}
.active.page1::after{height: 100%;transition:height 2s;}
.active.page-slide .wallpaper{transition:all 1s linear;opacity: 1;-webkit-transform:rotate(0deg);}
.active.page7 .wallpaper{transition:all 1s linear;opacity: 1;}
.active.page7 .pic{transition:all 2s linear;background-position: 50% 50%;}
.active .pic-des{transition:all 0.5s linear 1s;background-position: 50% 50%;opacity: 1;}
.active.page-slide::before{transition:all 1s linear 1s;background-position: 50% 50%;opacity: 1;width: 575px;}
.active .next::after{position:relative;-webkit-animation:next 0.8s infinite;-webkit-animation-timing-function:linear;}
.none{display:none;}

@-webkit-keyframes rotating
{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes next
{
	0%{top:0;}
	50%{top:-10px;}
	100%{top:0;}
}

@media only screen and (max-width: 320px){
}
@media only screen and (max-width: 240px){

}
@media only screen and (min-width: 640px){
}
@media only screen and (min-width: 800px){
}
@media only screen and (min-width: 1000px){
}