html{
	display:block;
	width:100%;
	height:100%;
	background:url(../images/bg.jpg);
	overflow:hidden;
}
body{
	display:block;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	overflow:auto;
}
.center{text-align:center;}
.line{background:url(../images/line.png) 50% 0 repeat-x;background-size:100% auto;position:relative;overflow:hidden;}
.views{margin:0;padding:0;list-style:none;position:absolute;top:0;left:0;width:100%;height:100%;-webkit-transition: all 0.5s ease-out 0s;}
.view{
	display:block;
	background:url(../images/view.png) 50% 0 no-repeat;
	background-size:100% auto;
	text-align:center;
	float:left;
}
.view-img{margin:0 auto 0;width:78%;position:relative;}
.view-img::before{content:'';display:block;position:absolute;top:10px;right:10px;width:105px;height:42px;background:url(../images/watermaker.png) no-repeat;background-size:100% auto;}
.view-img img{width:100%;}
.view-text{width:78%;margin:4px auto;font-size:16px;color:#847C65;line-height:1.5;font-weight:bold;}
.view-text a{font-weight:normal;}
.view-text span{font-weight:normal;}
.view-info{text-align:right;width:78%;margin:0 auto 0;color:#847C65;font-size:14px;}
.pagination{position:absolute;left:0;width:100%;text-align:center;}
.pagination-list{display:inline-block;margin:0 auto;padding:0;list-style:none;}
.pagination-list li{display:inline-block;width:6px;height:6px;border-radius:50%;background:#898989;margin:0 3px;}
.pagination-list li.active{background:#575757;}
.fingerprint{display:block;width:188px;height:49px;margin:17px auto 0;background:url(../images/fingerprint.gif) no-repeat;background-size:100% auto;}
.fingerprint:hover{background-image:url(../images/fingerprint2.gif);}

.make::before{}
.make-logo{background:url(../images/logo.gif) 50% 50% no-repeat;background-size:215px auto;}
.make-des{width:79.375%;margin:0 auto;box-shadow:0 0 15px rgba(100,100,100,.5);}
.select-title{width:74.6875%;height:74px;background:url(../images/select-title.gif) 50% 0 no-repeat;margin:40px auto 0;text-align:center;overflow:hidden;padding:35px 0 0;}
.select{width:78%;border:0;border-bottom:1px solid #787878;text-align:center;padding:7px 0;margin:35px auto 0;display:block;}
.make-info{margin:54px 0 0;text-align:center;}
.make-btn{display:inline-block;width:177px;height:43px;background:url(../images/make-btn.gif) no-repeat;background-size:100% auto;margin:0 auto;text-decoration:none;color:transparent;}

.upload-btn{position:relative;}
.upload-file{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
.upload-msg{width:62%;margin:0 auto;}
.upload-msg-link{color:#FF5454;}
.upload-text{font-size:16px;line-height:1.5;}
.upload-info{font-size:12px;text-align:right;margin-top:10px;}
.upload-public{display:block;width:177px;height:43px;background:url(../images/public.png) no-repeat;background-size:100% auto;margin:50px auto 0;color:transparent;}

.description{width:78%;margin:0 auto;text-align:left;line-height:1.75;}
.decoration dt,.description dd{margin:0;padding:0;}
.share{width:78%;margin:10px auto 30px;text-align:left;position:relative;}
.share-btn1,.share-btn2{display:inline-block;width:137px;height:35px;background:url(../images/share.png) no-repeat;background-size:277px auto;color:transparent;}
.share-btn2{background-position:100% 0;position:absolute;top:0;right:0;}
.launch-btn{display:block;margin:0 auto;width:125px;height:32px;background:url(../images/launch.btn.png) no-repeat;background-size:100% auto;color:transparent;}
.masker{position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;overflow:auto;}
.masker-dl{margin:15px;}
.masker-dl dt{margin:0;padding:0;}
.masker-dl dd{margin:0 0 15px;padding:0;}
.masker-dl a{display:inline-block;width:50px;line-height:24px;border:1px solid #eee;col:#999;text-align:center;margin:5px;text-decoration:none;color:#333;}
.masker-dl a.active{background:#FEA734;color:#fff;}
.ok{display:block;-webkit-appearance:none;width:100px;line-height:34px;background:#FEA734;color:#fff;border:0;margin:15px auto;}
.none{display:none;}
