body,html{margin:0;padding:0;width:100%;height:100%;}
body{background:#F7F3E4;}
.center{text-align:center;}
.lottery-chance{margin:5em auto 4em;display:inline-block;color:#A17235;font-size:2em;background:#F6E9C5;padding:15px 25px;position:relative;}
.lottery-chance-num{color:#F6742C;}
.lottery-chance-word{color:#D2B88D;font-size:0.8em;}
.lottery-chance::before,.lottery-chance::after{content:' ';position:absolute;top:20px;background:url(../images/lottery.title.gif) no-repeat;background-size:auto 100%;z-index:-1;width:111px;bottom:-10px;}
.lottery-chance::before{left:-14%;}
.lottery-chance::after{right:-14%;background-position:100% 0;}

.lottery-board{width:454px;height:363px;margin:0 auto 100px;background:url(../images/lottery.area.png) no-repeat;background-size:100% 100%;position:relative;overflow:hidden;}
.lottery-mask{position:absolute;width:100%;height:100%;z-index:1;top:0;right:0;bottom:0;left:0;background:url(../images/lottery.mask.png) no-repeat;background-size:100% 100%;}
.lottery-info{position:absolute;top:12.67%;bottom:0;left:0;right:0;}
.lottery-info-error{background:url(../images/lottery.result.not.png) 50% 33% no-repeat;background-size:31.28% auto;}
.lottery-info-txt{position:absolute;bottom:18.92%;left:0;right:0;text-align:center;color:#999;font-size:1.7em;max-width:80%;margin:0 auto;}
.lottery-info-succ .lottery-info-txt{font-size:1.4em;bottom:12%;}
.lottery-info-succ{background:url(../images/p1.png) 50% 33% no-repeat;background-size:52.64% auto;}
.lottery-info-title{position:absolute;bottom:30%;left:0;right:0;color:#FFBC1C;text-align:center;font-size:1.8em;}
