@charset "utf-8";
html{
	background:url(https://open.t.qq.com/oauth2/images/pc/body.gif) repeat-x #e8e9ea;
	font-family:Tahoma;
	overflow-y:auto
}
body{
	margin:0;
	padding:0
}
input,label,img{
	vertical-align:middle
}
.valign{
	vertical-align:middle
}
.header{
	width:588px;
	margin:0 auto;
	background:url(https://open.t.qq.com/oauth2/images/pc/header.gif) 330px 10px no-repeat;
	position:relative
}
.header-logo{
	margin:0;
	padding:0;
	background:url(https://open.t.qq.com/oauth2/images/pc/logo.gif) 0 50% no-repeat
}
.header-logo a{
	display:block;
	height:46px;
	overflow:hidden;
	text-indent:210px;
	white-space:nowrap;
	width:200px
}
.header-reg{
	position:absolute;
	font-size:12px;
	color:#666;
	top:50%;
	right:0;
	text-decoration:none;
	margin-top:-8px
}
.main{
	width:586px;
	margin:17px auto 0;
	position:relative;
	border:1px solid #d9dbdc;
	background:#fff;
	border-radius:10px;
	box-shadow:0 0 5px #d9dbdc;
	background-color:#fafafd
}
.main-left{
	border-right:1px solid #eee;
	background:#fff;
	border-radius:10px 0 0 10px;
	width:370px
}
.main-right{
	position:absolute;
	top:0;
	right:0;
	width:215px;
	font-size:12px
}
.list{
	margin:50px 0 0 15px
}
.list-tit{
	color:#666;
	margin:0 0 10px
}
.list-li{
	color:#999;
	margin:0;
	height:30px;
	line-height:30px
}
.app-name{
	display:inline-block;
	max-width:60px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	color:#666;
	text-decoration:none;
	_ zoom:1;
	_ display:inline;
	_ width:expression(this.clientWidth>60?60:this.clientWidth)
}
.app-developer{
	color:#666;
	text-decoration:none
}
.main-left-msg{
	min-height:316px;
	_ height:316px;
	overflow:hidden;
	font-size:12px;
	margin:0 auto;
	color:#666;
	max-width:300px
}
.main-left-msg .ico2{
	margin-top:100px
}
.main-left-msg .vcode{
	color:#f60;
	font-size:20px
}
.main-left-msgcon{
	line-height:1.75
}
.copy_code{
	position:relative;
	overflow:hidden;
	margin-left:20px
}
.copy_plugin{
	position:absolute;
	top:0;
	left:0
}
.footer{
	width:580px;
	margin:10px auto 0;
	font-size:12px;
	color:#999;
	background:url(https://open.t.qq.com/oauth2/images/pc/warn.gif) no-repeat;
	line-height:16px;
	text-indent:24px
}
.tv{
	background-image:url(https://open.t.qq.com/oauth2/images/pc/body2.gif);
	background-size: 1px 450px;
}
.tv .header{
	background-image:url(https://open.t.qq.com/oauth2/images/pc/header2.gif);
	background-position:400px 16px;
	background-size:135px 27px;
}
.tv .header-logo{
	background-image:url(https://open.t.qq.com/oauth2/images/pc/logo2.gif);
	background-size:95px 23px;
}
.tv .footer{
	background-image:url(https://open.t.qq.com/oauth2/images/pc/warn2.gif);
	background-size:12.5px 12.5px;
	background-position:0 center;
	text-indent:16px;
}
