type: "SNIPPET_NOTE"
folder: "00fe85956559"
title: ""
description: ""
snippets: [
  {
    name: "判断数据的类型.js"
    mode: "javascript"
    content: '''
      var Type = {};
      
      for (var i = 0, type; type = ['String', 'Array', 'Number'][i++];) {
          (function(type) {
              Type['is' + type] = function(obj) {
                  return Object.prototype.toString.call(obj) === '[object '+ type +']';
                 }
             })(type)
      };
      
      Type.isArray([]);     // 输出：true
      Type.isString("str");     // 输出：true
    '''
  }
  {
    name: "单例模式.js"
    mode: "javascript"
    content: '''
      var getSingle = function(fn) {
          var ret;
          return function() {
              return ret || (ret = fn.apply(this, arguments));
          };
      };
    '''
  }
  {
    name: ""
    mode: "text"
    content: '''
      Function.prototype.before = function(beforefn) {
          var __self = this;    // 保存原函数的引用
          return function() {    // 返回包含了原函数和新函数的"代理"函数
              beforefn.apply(this, arguments);     // 执行新函数，修正this
              return __self.apply(this, arguments);    // 执行原函数
          }
      };
      
      Function.prototype.after = function(afterfn) {
          var __self = this;
          return function() {
              var ret = __self.apply(this, arguments);
              afterfn.apply(this, arguments);
              return ret;
          }
      };
      
      var func = function() {
          console.log(2);
      };
      
      func = func.before(function() {
          console.log(1);
      }).after(function() {
          console.log(3);
      });
      
      func();
      
      // 按顺序打印出1，2，3
    '''
  }
]
tags: []
isStarred: false
createdAt: "2016-09-19T06:31:20.397Z"
updatedAt: "2016-09-19T06:36:41.997Z"
