input[type='button'], input[type='submit'], input[type='text'] {
    -webkit-appearance: none;
    -moz-appearance: none;
}
.modulebox {
    position: fixed;
    _position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    text-align: left;
    display: none;
    font-size: 14px;
}
.modulebox_iframe {
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.modulebox_mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}
.modulebox_win {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 10px #999;
    border: 1px solid #999;
    -webkit-user-select: initial;
    -ms-user-select: initial;
    -moz-user-select: initial;
    user-select: initial;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}
.modulebox_title {
    margin: 0;
}
.module_dialog_title {
    display: block;
    padding: 20px 24px 0;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    font-weight: normal;
    color: #333;
}
.module_task_title {
    display: block;
    border-bottom: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.modulebox_win_2 .modulebox_content {
    margin: 20px 20px 0;
}
.modulebox_win_3 .modulebox_title {
    /*padding:24px 15px 0;*/
}
.modulebox_close {
    width: 15px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    color: #333;
    text-decoration: none;
    padding: 0 10px;
}
a.modulebox_close:hover {
    background-position: -18px -348px;
}
.modulebox_content {
    text-align: center;
}
.modulebox_content_text {
    padding: 20px 24px 0;
}
.modulebox_content .ib_wrap2 {
    text-align: left;
    position: relative;
    padding-bottom: 20px;
}
.modulebox_content .ib_wrap2 .w_cancel {
    position: absolute;
    right: 0;
}
.modulebox_text {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
    * display: inline;
    zoom: 1;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1.4;
}
.modulebox_text_title {
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.modulebox_content .ib_wrap {
    padding-bottom: 20px;
}
.modulebox_icon {
    display: block;
    margin: 45px 0 10px;
}
.modulebox_icon_loading {
    background: url(../images/loading4.gif?__VERSION__) center center no-repeat;
    height: 24px;
}
.modulebox_icon_wifi {
    background: url(../images/loading5.gif?__VERSION__) center center no-repeat;
    height: 30px;
}
.modulebox_icon_ok {
    background: url(../images/ok.gif?__VERSION__) center center no-repeat;
    height: 32px;
}
.modulebox_icon_text {
    color: #999;
    margin: 0 20px 45px;
    line-height: 1.3;
}
.dialog_button, .dialog_button_gray, .dialog_button_disabled {
    background-color: #1AA7FF;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 0 35px;
    height: 36px;
    line-height: 36px;
}
.dialog_button:hover {
    background-color: #3cb0fd;
    text-decoration: none;
}
.dialog_button:focus, .dialog_button_gray:focus, .dialog_button_disabled {
    outline: none;
    background-color: #64C1FF;
}
.dialog_button_gray {
    background-color: #BDBDBD;
}
.dialog_button_gray:hover {
    background-color: #D3D3D3;
}
.dialog_button_gray:focus {
    background-color: #D3D3D3;
}
.dialog_button_disabled, .dialog_button_disabled:hover, .dialog_button_disabled:focus {
    background-color: #ddd;
    cursor: default;
    color: #999;
    text-shadow: 1px 1px 0 #fff;
}
.modulebox .none {
    display: none;
}
.dialog-form-ul{list-style:none;}
.dialog-form-ul li{margin-bottom:15px;}
