html,body{margin:0;padding:0;}
body{background:#F0F0F0;}
.orange{color:#FFCC33;}
.header{height:60px;background:#4CBEC1;position:relative;}
.header-img{position:absolute;width:64px;height:64px;border:2px solid #fff;border-radius:50%;top:8px;left:15px;overflow:hidden;}
.header-img img{width:64px;height:64px;vertical-align:bottom;border-radius:50%;}
.header-user{font-size:14px;line-height:1;color:#A1E1E3;margin:0 0 0 93px;padding:10px 0 0;line-height:24px;}
.header-title{font-size:16px;color:#fff;margin:0 0 0 93px;padding:0;font-weight:normal;}
.salary-subtitle{font-size:14px;font-weight:normal;color:#333;text-align:center;margin:0;padding:40px 0 0;line-height:30px;}
.salary-des{text-align:center;color:#B1B1B1;padding:0;margin:0 auto;line-height:1.2;max-width:80%;line-height:1.2;}
.salary{width:6px;height:230px;background:#fff;border:1px solid #D2D2D2;margin:20px auto;border-radius:5px;position:relative;}
.salary-point{position:absolute;right:17px;font-size:12px;color:#B7B7B7;}
.salary-bar{position:absolute;left:-1px;right:-1px;bottom:-1px;background:#A5DEE0;border:1px solid #8FC8C9;border-radius:5px;-webkit-transition:all 0s linear 0;}
.salary-touchbtn{position:absolute;top:-10px;left:-7px;display:block;width:18px;height:18px;background:#4CBEC1;border:1px solid #40AFB2;border-radius:50%;text-decoration:none;}
.salary-tip{position:absolute;left:32px;top:-5px;white-space:nowrap;font-size:14px;line-height:28px;background:#FC3;border-radius:3px;color:#fff;padding:0 10px;text-decoration:none;}
.salary-tip::before{content:'';border:6px dashed transparent;border-right:6px solid #FC3;position:absolute;left:-12px;top:8px;}
.salary-btns{text-align:center;}
.salary-btn{background:#4CBEC1;border-radius:5px;display:inline-block;padding:10px 20px;color:#fff;text-decoration:none;}
.salary-question{text-align:center;margin:15px auto;}
.salary-question a,.salary-question a:visited{color:#4CBEC1;text-decoration:none;}