html,body{margin:0;padding:0;}
body{background:#44CAC8;}
.red{color:#F2120C;}
.yellow{color:#FFBA00;}
.banner{background:url(../images/bg.jpg);position:relative;}
.banner::after{content:'';display:block;height:5px;margin-top:-5px;background:url(../images/bg3.png) repeat-x;background-size:auto 100%;position:relative;}
.banner-header{overflow:hidden;text-align:center;}
.banner-txt1{height:60px;background:url(../images/t1.png) 50% 0 no-repeat;margin:40px 0 10px;padding:0;background-size:auto 100%;text-indent:-999px;font-size:1px;text-align:left;}
.banner-txt2{margin:0 auto 50px;display:inline-block;position:relative;font-size:1em;}
.banner-txt2-content{height:30px;line-height:30px;color:#fff;background:#44CAC8;z-index:1;position:relative;z-index:1;display:inline-block;padding:0 10px;}
.banner-txt2::before,.banner-txt2::after{content:'';position:absolute;z-index:0;top:5px;border-top:15px solid #33B3B1;border-bottom:15px solid #33B3B1;width:0;height:0;}
.banner-txt2::before{left:-20px;border-right:20px solid #33B3B1;border-left:10px dashed transparent;}
.banner-txt2::after{right:-20px;border-left:20px solid #33B3B1;border-right:10px dashed transparent;}
.banner-txt3-content{display:inline-block;padding:97px 25px 20px;background:url(../images/bg2.png) 50% 0 no-repeat;background-size:100% auto;line-height:1.25;position:relative;white-space:nowrap;}
.banner-txt3-content::before,.banner-txt3-content::after{content:'';display:block;position:absolute;}
.banner-txt3-content::before{width:40px;height:45px;background:url(../images/coin1.png) no-repeat;top:-5px;right:-5px;background-size:100%;}
.banner-txt3-content::after{width:29px;height:61px;background:url(../images/coin2.png) no-repeat;bottom:-30px;right:-15px;background-size:100%;}
.des{margin:25px;padding:0;}
.des-title{font-size:1.5em;color:#fff;}
.des-step{border:2px solid #D5413D;border-radius:5px;background:#fff;padding:15px;color:#81543E;margin:10px 0;line-height:1.25;overflow:hidden;position:relative;}
.des-step::before{content:'';position:absolute;top:0;left:0;border-left:15px solid #D5413D;border-top:15px solid #D5413D;border-right:15px dashed transparent;border-bottom:15px dashed transparent;}
.des-step::after{content:attr(data-index);position:absolute;top:0;left:0;color:#fff;padding:0 5px;}
.des-down{position:relative;height:10px;margin:0;padding:0;}
.des-down::before,.des-down::after{content:'';position:absolute;top:0;left:50%;margin-left:-5px;width:0;height:0;border:10px solid transparent;border-top:10px solid #81543E;}
.des-down::after{border-top-color:#44CAC8;z-index:1;top:-4px;}
.appstore{line-height:44px;border-radius:22px;display:block;background:#D5413D;color:#fff;color:#fff;text-align:center;margin:0 25px;text-decoration:none;font-size:1.2em;}
.appstore:visited{text-decoration:none;color:#fff;}
.des2{color:#fff;margin:25px;line-height:1.25;}
.appstore::after{content:'>';color:#F0B261;font-weight:bold;-webkit-animation:goappstore 1s infinite;-webkit-animation-timing-function:linear;display:inline-block;width:20px;margin-right:-20px;font-family:Arial;}
@-webkit-keyframes goappstore
{
	0%{text-indent:0;}
	50%{text-indent:10px;}
	100%{text-indent:0;}
}

@media only screen and (max-width: 240px){
	body{font-size:0.8em;}
	.banner-txt1{height:50px;}
	.banner-txt3-content{padding-top:88px;}
	.des,.des2{margin:10px;}
	.appstore{margin:0 10px;}
}
