html,body{margin:0;padding:0;}
body{background:#44CAC8;}
.red{color:#F2120C;}
.yellow{color:#FFBA00;}
.banner{background:url(../images/bg.jpg);position:relative;}
.banner::after{content:'';display:block;height:5px;margin-top:-5px;background:url(../images/bg3.png) 0 1px repeat-x;background-size:auto 100%;position:relative;}
.banner-header{overflow:hidden;text-align:center;}
.banner-txt1{height:216px;background:url(../images/t1.png) 50% 0 no-repeat;margin:77px 0 98px;padding:0;background-size:auto 100%;text-indent:-999px;font-size:1px;text-align:left;}
.banner-txt2{margin:0 auto 50px;display:inline-block;position:relative;font-size:1em;}
.banner-txt2-content{height:30px;line-height:30px;color:#fff;background:#44CAC8;z-index:1;position:relative;z-index:1;display:inline-block;padding:0 10px;}
.banner-txt2::before,.banner-txt2::after{content:'';position:absolute;z-index:0;top:5px;border-top:15px solid #33B3B1;border-bottom:15px solid #33B3B1;width:0;height:0;}
.banner-txt2::before{left:-20px;border-right:20px solid #33B3B1;border-left:10px dashed transparent;}
.banner-txt2::after{right:-20px;border-left:20px solid #33B3B1;border-right:10px dashed transparent;}

.banner-txt3{height:380px;background:url(../images/bg2.png) 50% 0 no-repeat;background-size:auto 100%;}
.des-title{height:92px;background:url(../images/t2.png) 50% 0 no-repeat;background-size:auto 100%;margin:41px 0 48px;}
.des{margin:0 14px 77px 0;padding:0;background:url(../images/bg4.png) 50% 0 no-repeat;height:665px;background-size:auto 100%;}


.appstore{line-height:100px;border-radius:5px;display:block;max-width:560px;text-align:center;margin:0 auto;text-decoration:none;position:relative;background:url(../images/t4.png) 50% 50% no-repeat #D5413D;background-size:42.86% auto;}

.appstore:visited{text-decoration:none;color:#fff;}
.appstore::before{content:'';position:absolute;width:21.61%;top:-28px;bottom:-28px;left:7%;background:url(../images/bg5.png) 50% 50% no-repeat;background-size:100% auto;pointer-events:none;}
.appstore::after{content:'';background:url(../images/t5.png) 0 50% no-repeat;background-size:auto 40%;-webkit-animation:goappstore 1.5s infinite;-webkit-animation-timing-function:linear;-webkit-animation-fill-mode:both;position:absolute;top:0;bottom:0;left:77%;right:0;}
.time{height:30px;background:url(../images/t3.png) 50% 0 no-repeat;margin:43px 0;background-size:auto 100%;}
.des2,.des3{color:#fff;margin:25px auto;line-height:1.25;max-width:560px;font-size:1.5em;}
.none{display:none;}
@-webkit-keyframes goappstore
{
	0%{background-position:0 50%;}
	50%{background-position:10px 50%;}
	100%{background-position:0 50%;}
}
@media only screen and (max-width: 599px){
	.banner-txt1{height:108px;margin:38px 0 49px;}
	.banner-txt3{height:190px;}
	.des-title{height:46px;margin:20px 0 24px;}
	.des{height:332px;margin-right:7px;margin-bottom:38px;}
	.appstore{max-width:280px;line-height:50px;}
	.time{height:15px;margin:22px 0;}
	.des2,.des3{max-width:280px;font-size:1em;margin:12px auto;}
}

@media only screen and (max-width: 260px){
	.banner-txt1{height:85px;margin:30px 0 38px;}
	.banner-txt3{height:149px;}
	.des-title{height:36px;margin:16px 0 17px;}
	.des{height:261px;margin-right:6px;margin-bottom:30px;}
	.appstore{max-width:220px;line-height:40px;}
	.time{height:12px;margin:17px 0;}
	.des2,.des3{max-width:220px;font-size:0.79em;margin:10px auto;}
}
