html,body{margin:0;padding:0;background:#F7F7F7;text-align:center;}
a{text-decoration:none;}
.header{height:90px;position:fixed;top:0;width:100%;overflow:hidden;background:rgba(255,255,255,0.98);border-top:1px solid #E5E5E5;border-bottom:1px solid #E5E5E5;text-align:left;}
.header-img{width:62px;height:62px;border-radius:50%;overflow:hidden;vertical-align:bottom;display:inline-block;position:absolute;top:15px;left:10px;sssss}
.header-pic{width:62px;height:62px;}
.header-user{margin:15px 0 0 86px;}
.header-btn{display:block;width:60px;height:26px;line-height:26px;text-align:center;color:#fff;background:#FF4E4C;border-radius:5px;position:absolute;right:14px;top:33px;font-size:12px;text-decoration:none;}
.user-name{line-height:40px;display:block;font-size:22px;-webkit-font-smoothing: antialiased;}
.user-info{color:#BCBCBC;font-size:12px;}

.main{max-width:90%;border:1px solid #F1F1F1;background:#fff;min-height:100px;margin:96px auto 6px;text-align:center;display:inline-block;}
.main-img{width:94.44%;margin:15px auto;display:inline-block;}
.main-pic{max-width:100%;text-align:center;}
.main-text{line-height:1.5;font-family:"楷体-简";color:#333;}
.message{margin:0 20px 46px;position:relative;text-align:left;display:block;line-height:20px;font-size:12px;}
.like{color:#FF514F;background:url(../images/heart.png) 0 50% no-repeat;background-size:11px auto;padding-left:14px;display:inline-block}
.time{display:inline-block;position:absolute;right:0;line-height:20px;color:#C7C7C7;}

.gallary{margin:0;padding:0;display:inline-block;background:#fff;border-top:1px solid #F1F1F1;width:100%;}
.gallary-title{line-height:34px;margin:0;padding:0;font-size:14px;}
.gallary-title a{color:#FFB843;}
.gallary-list{display:block;margin:0 5px;list-style:none;padding:0;}

.gallary-item{width:33.33%;display:inline-block;}
.gallary-item a{display:block;margin:0 5px 10px;}
.gallary-item img{width:100%;vertical-align:bottom;}
.none{display:none;}
