body,html{margin:0;padding:0;position:relative;width:100%;display:inline-block;}
body{background:url(../images/1.jpg) 50% 0 no-repeat #1E1C21;}
.bg{position:absolute;z-index:0;left:0;top:0;width:100%;height:100%;background:url(../images/1.jpg) 50% 0 no-repeat #1E1C21;}
.logo{margin:0;padding:0;height:350px;background:url(../images/logo.png) no-repeat 50% 120px;position:relative;z-index:1;}
.main{max-width:1148px;min-height:480px;border:1px solid #CFCFCF;background:#fff;margin:0 auto 50px;position:relative;box-shadow:0 0 3px #CFCFCF;z-index:1;}
.box{width:640px;position:absolute;top:0;height:480px;border-right:1px solid #CFCFCF;display:table;overflow:hidden;}
.box-text{display:table-cell;vertical-align:middle;text-align:center;line-height:1.5;font-size:36px;text-shadow:1px 1px 0 #fff;}
.list{margin:0 0 0 660px;overflow:hidden;list-style:none;padding:0;height:480px;font-family:微软雅黑;[;margin-right:10px;]}
.list:hover{overflow-y:auto;}
.list-item{background-repeat:no-repeat;background-position:0 10px;padding:10px 0 10px 55px;font-size:16px;margin:0;overflow:hidden;}
.list-info{margin:8px 0 0;color:#999;word-spacing:5px;}
.download{margin:0 auto 100px;text-align:center;position:relative;z-index:1;}
.download-android,.download-ios{display:inline-block;width:209px;height:74px;background:url(../images/btns.png) no-repeat;margin:0 5px;position:relative;border-radius:5px;}
.download-ios{background-position:-239px 0;cursor:default;}
.qrcode{position:absolute;top:-1px;width:82px;height:76px;display:inline-block;background-repeat:no-repeat;-webkit-transition:all 0.5s linear 0s;-moz-transition:all 0.0s linear 0s;-o-transition:all 0.5s linear 0s;-ms-transition:all 0.5s linear 0s;transition:all 0.5s linear 0s;}
.download-android .qrcode{left:-82px;background-image:url(../images/qrcode.android.gif);visibility:hidden;opacity:0;}
.download-android:hover .qrcode{visibility:visible;opacity:1;left:-92px;}
.list::-webkit-scrollbar{width:10px;margin-right:10px;background:transparent;margin-left:10px;}
.list::-webkit-scrollbar-track{border:0;background:none;}
.list::-webkit-scrollbar-thumb{
	background-color:#E4E4E4;
	border-radius:5px;border:1px solid #DADADA;
}
.list:hover::-webkit-scrollbar-thumb:hover{
	background-color:#bbb;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.list{margin-right:10px;}
}